<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= link_to "About us", about_path, class:"m-2", style:"color: white" %>
      </div>
    </div>
  </div>
</div>