<div class="container">
  <h1 style="margin-top:10px">Welcome to BookAdvisor!</h1>

  <p>BookAdvisor is a bookstore metesearch.</p>

  <p>We believe that bookstores are essential to a healthy culture. They’re where authors can connect with readers, where we discover new writers, where children get hooked on the thrill of reading that can last a lifetime. They’re also anchors for our downtowns and communities.</p>

  <p>As more and more people buy their books online, we wanted to create an easy, convenient way for you to get your books and support bookstores at the same time.</p>

  <h2>Founders:</h2>

  <div class="container" style="margin-bottom: 20px;">
    <div class="cards" style="justify-content: space-between;">
      <div class="card-product" style="width: 300px;">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFSPuxa6ibV-A/profile-displayphoto-shrink_200_200/0/1576292896774?e=1623283200&v=beta&t=skxQk-S6FE2wl_8GdEvmccZFM-A2FpVmWs49UbxkgG0" />
        <div class="card-product-infos">
          <h2>Tomás Agnese</h2>
          <a href="https://www.linkedin.com/in/tomasagnese/" target="_blank">
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
          <a href="https://github.com/tomag1985" target="_blank">
            <i class="fab fa-github fa-lg"></i>
          </a>
        </div>
      </div>

      <div class="card-product" style="width: 300px;">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGdFmMtA_AFEQ/profile-displayphoto-shrink_200_200/0/1585506828516?e=1624492800&v=beta&t=N_EDwrDHDCDel-7HeqrvDwwIzCaJYE79E4s5cOO2niQ" />
        <div class="card-product-infos">
          <h2>Rocío Picaza</h2>
          <a href="https://www.linkedin.com/in/rocio-belen-picaza-a5996833/" target="_blank">
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
          <a href="https://github.com/ropicaza" target="_blank">
            <i class="fab fa-github fa-lg"></i>
          </a>
        </div>
      </div>
    </div>
  
  </div>

  <h2>Some brands where we collect our data:</h2>

  <div class="cards">
    <a href="https://www.cuspide.com/" target="_blank">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.cuspide.com/images/og_image.png)"></div>
    </a>

    <a href="https://www.tematika.com/" target="_blank">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://bucket3.glanacion.com/Club.LN/anexos/fotos/99/B772799w500.jpg)"></div>
    </a>

    <a href="https://www.bookdepository.com/" target="_blank">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://mma.prnewswire.com/media/1283615/Book_Depository_Logo.jpg?p=facebook)"></div>
    </a>

    <a href="https://www.libreriahernandez.com/" target="_blank">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDIwh33K9eFBHJ8OyINgfT_BUdZjg6mo6qERkZk309khwhGQTzpTVnPG6liYSh1pzsLd4&usqp=CAU)"></div>
    </a>

    <a href="https://libros.mercadolibre.com.ar/libros/" target="_blank">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.prensariotila.com/multimedios/imgs/41976_750.webp)"></div>      
    </a>
  </div>
</div>

