.btn-search {
  border-radius: 7px;
  background-color: $violet;
  color: $light;
  border: none;
  padding: 9px 15px;
}

.read-more-btn {
  text-decoration: none;
  color: $violet;
  font-size: 15px;
}

.read-more-btn:hover {
  color: $light;
}

#badge-new {
  font-size: 16px!important;
  bottom: 10px;
  transform: rotate(-6deg);
  left: 134px;
}

.btn-wishlist {
  position: absolute;
  bottom: 0.8rem;
  right: 3rem;
  color: $violet;
  font-weight: 600;
}

.btn-wishlist:hover {
  color: black;
}

.buy-item a {
  bottom: 0.8rem;
  color: $violet;
  margin-bottom: 0;
  font-weight: 600;
}