/* index cards */
.card {
  border-radius: 10px;
  background-color: $light;
  border-color: $violet;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);  
}

.img-card {
  width: 12rem;
  object-fit: contain;
  text-align: center;
}

.card-items {
  align-items: center;
}

.price-item {
  position: absolute;
  top: 15px;
  left: 600px;
  font-size: 20px;
  font-weight: bold;
  background-color: $violet;
  color: $light;
  border: 2px;
  border: solid 2px;
  border-radius: 5px;
  padding: 3px 7px;
}

/* about us cards */
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .price-item {
    position: absolute;
    top: 15px;
    left: 600px;
    font-size: 20px;
    font-weight: bold;
    background-color: $violet;
    color: $light;
    border: 2px;
    border: solid 2px;
    border-radius: 5px;
    padding: 3px 7px;
  }
}

@media (max-width: 1200px) {
  .price-item {
  position: static;
  background-color: $light;
  color: $violet;
  border: solid $light 2px;
  margin-bottom: 2px;
  padding: 0;
  }
}
