// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "buttons";
@import "banner";
@import "footer";
@import "cards";


body {
  background-color: $light;
  font-family: 'Raleway', sans-serif;
}

#search_online {
  width: 300px;
  border-radius: 5px;
  border: none;
  height: 40px;
}

.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

a:hover {
  text-decoration: none;
}


/* ReadMore options */

.box {
  
  input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
  
  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  
  input:focus ~ label {
    outline: -webkit-focus-ring-color auto 5px;
  }
  
  input:checked + p {
    -webkit-line-clamp: unset;
  }
  
  input:checked ~ label,
  p:not(.truncated) ~ label{
    display: inline;
  }
  
}

.jumbotron {
  border-radius: 20px;
  background-color: white;
  margin-top: 20px;
  padding: 30px;
}

.fa-star {
  color: $violet;
}

.fa-heart {
  color: $violet;
  padding-left: 5px;
  font-size: 18px;
  .fa-heart:hover {
    color: #749C75;
  }
}

.lead {
  font-size: 15px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .fotos-libros {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .fotos-libros {
    text-align: center;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .fotos-libros {
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: space-between;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .fotos-libros {
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: space-between;
  }
}

